body {
    margin: 0 auto;
    font-family: Arial;
}

.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


.top-container {
        height: 370px;
        width: 100%;
        background-color: white;
        position: relative;
    }

   /* .middle-container {
        background-color: skyblue;
         height: 800px;
        clear: both;
    }
*/
    .bottom-container {
        height: 300px;
        background-color: white;
    }

    .footer {
        height: 50px;
        background-color: grey;
    }

    .logo {
        width: 250px;
        height: 250px;
        background-color: yellow;
/*        border: 1px solid blue;*/
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .logo > img {
        width: 250px;
        height: 250px;

    }


    .slideshow {
        position: relative;
        height: 350px;
        width: 600px;
       margin-left: 480px;
        margin-right: 100px;
        background-color: blue;
        box-sizing: border-box;
         justify-content: center;
    align-items: center;
    overflow: hidden;
    }


/* Hide the images by default */
.Slides {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

 /* Style the images */
    .Slides > img {
       max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
/*      display: block;*/
/*    margin: auto; /* This centers the image horizontally */*/
    }

/* Next & previous buttons */
.prev, .next {

  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
   background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.Slides .next a{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slide {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}




/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.middle-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px); /* Set column width to 250px */
    grid-auto-rows: 180px; /* Set row height to 150px */
    grid-gap: 15px;
    background: #DDDDDD;
}

.box {
    background-color: #444;
    padding: 0px;
    margin: 10px;
    display: flex; /* Add this to enable flexbox */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.box > a {
    display: block;
    width: 100%; /* Ensure the anchor tag fills the entire box */
    height: 100%; /* Ensure the anchor tag fills the entire box */
}

.box > a > img {
    width: 100%; /* Ensure the image fills the entire anchor tag */
    height: 100%; /* Ensure the image fills the entire anchor tag */
    object-fit: cover; /* Ensure the image covers the entire space */
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.box > img {
    width: 100%;
    height: 100%;
}












@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


    /* Clearfix to prevent collapsing margins */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

     /* Responsive styling */
    @media only screen and (max-width: 600px) {
        .logo, .slideshow {
            margin-left: 0;
            width: 100%;
        }




/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}


/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
